<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
    <head>
        <title>Listado de clientes</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        
        <link rel="stylesheet" href="css/bootstrap.min.css">   		
        <script src="js/bootstrap.min.js"></script> 
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
        
    </head>
    <body>
        
        <div class="container">Todos los Clientes:</div>
        
            <div class="form-group" th:each="cliente: ${clientes}">
                <div for="nombre" class="control-label col-xs-4">Nombre y Apellido:</div>
                <div type="text" name="nombre" id="nombre" class="form-control" th:text="${cliente.nombreApellido}" required="true" />                                   
         
                <div for="domicilio" class="control-label col-xs-4">Domicilio:</div>
                <div type="text" name="domicilio" id="nombre" class="form-control" th:text="${cliente.domicilio}" required="true" />                                   
            </div>
                

        
        <button><a href="/prestamos">Prestamos</a></button>            
                
    </body>
</html>
